extends layout

block content
  h1 #{title}: #{bookinstance._id}
  p #[strong Book title:] #{bookinstance.book.title}

  p Do you really want to delete this Book instance?

  form(method='POST' action='')
    div.form-group
      input#autbookinstanceidhorid.form-control(type='hidden',name='bookinstanceid', required='true', value=bookinstance._id )

    button.btn.btn-primary(type='submit') Delete
    a.ml-4(href=bookinstance.url) Go back